build/*
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.bp
*.h5
*~
*.gkyl
*.dat

code/gminus/.cache/
code/gminus/compile_commands.json
code/gminus/build/
code/gminus/config.mak

notes/advection-diffusion/advection-diffusion.pdf